# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs
libs
lib4

classes

src/generated/resources/.cache

src/main/resources/assets/tac/models/gunskin/skin.json
src/main/resources/assets/tac/models/gunskin
src/main/resources/assets/tac/textures/gunskin